versions/workflows/Picture with Picasso -Wan 2.5-v2.1.json
{
  "name": "Picture with Picasso -Wan 2.5-v2.1",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3136,
        13344
      ],
      "id": "8809b0e4-ab2a-4332-9b0b-d0aee9f6f119",
      "name": "Get Videos",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fu7JiV0X0vwfVlOO",
          "name": "Header Auth account 9"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"wan/2-5-image-to-video\",\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json['Video Prompt']) }},\n    \"image_url\": \"{{ $json['First Frame'] }}\",\n    \"duration\": \"{{ $json.Duration }}\",\n    \"resolution\": \"{{ $json.Resolution }}\",\n    \"enable_prompt_expansion\": {{ $json['Optimize Prompt'] }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        13344
      ],
      "id": "4a969ba3-466f-4517-8c07-ac0ccf8ae8b9",
      "name": "Create Video Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fu7JiV0X0vwfVlOO",
          "name": "Header Auth account 9"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e66e3c3e-bb38-4b42-8aa4-336d0a2e78d6",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3360,
        13280
      ],
      "id": "1a9e472e-2eea-427d-9ebd-1071e6226039",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3584,
        13488
      ],
      "id": "06de3173-f852-4e0a-bdc5-77db40f65c5a",
      "name": "Wait",
      "webhookId": "6fd10346-a72f-47c4-81cd-1b4841b3df96"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "2eeefd39-fc5e-464d-b78b-825afd77b304",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        13376
      ],
      "webhookId": "c5c87500-bcca-4046-8309-7e6ecd2dfce5",
      "credentials": {
        "telegramApi": {
          "id": "kiyk5gzLZBE7EpvL",
          "name": "Picture with Picasso"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Picasso Video Generator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Your Image",
              "fieldType": "file"
            },
            {
              "fieldLabel": "Your Email Address",
              "fieldType": "email",
              "placeholder": "your@email.com",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "8989f25c-4a2e-491f-b145-27f014548efa",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -672,
        13728
      ],
      "webhookId": "bece33ef-b5b7-46a2-9884-0aa47412a367"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "inputSource",
              "value": "telegram",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chatId",
              "value": "={{ $json.message?.chat?.id || '' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "telegramFileId",
              "value": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "set-telegram-source-001",
      "name": "Set Telegram Source",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        13376
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "inputSource",
              "value": "form",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "userEmail",
              "value": "={{ $json['Your Email Address'] || '' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "uploadedImageUrl",
              "value": "={{ $json['Upload Your Image'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "set-form-source-001",
      "name": "Set Form Source",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        13728
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-4",
              "name": "duration",
              "value": "5",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "resolution",
              "value": "720p",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "optimizePrompt",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-7",
              "name": "picassoHeight",
              "value": "64",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "videoArchiveFolderId",
              "value": "<__PLACEHOLDER_VALUE__Google Drive Folder ID for video archive__>",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "userUploadedImagesFolderId",
              "value": "<__PLACEHOLDER_VALUE__Google Drive Folder ID for user uploaded images__>",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "composedImagesFolderId",
              "value": "<__PLACEHOLDER_VALUE__Google Drive Folder ID for composed images__>",
              "type": "string"
            },
            {
              "id": "id-11",
              "name": "falApiKey",
              "value": "<__PLACEHOLDER_VALUE__Your fal.ai API key__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2da13907-5196-4dc6-aea4-d05445754b69",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        13536
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.inputSource }}",
              "rightValue": "telegram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-input-source-001",
      "name": "Route by Input Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        13536
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.telegramFileId }}",
        "additionalFields": {}
      },
      "id": "b09bfdda-1c29-494a-88b7-5f1c9ddf1119",
      "name": "Download Telegram Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        13376
      ],
      "webhookId": "e2889c68-9d16-41cc-be14-0de6f321b386",
      "credentials": {
        "telegramApi": {
          "id": "kiyk5gzLZBE7EpvL",
          "name": "Picture with Picasso"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.uploadedImageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "f7f5fed2-ae81-42d5-bc56-1c5ee496e6dd",
      "name": "Download Form Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        13728
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 2048,
        "height": 2048,
        "resizeOption": "contain",
        "dataPropertyName": "data"
      },
      "id": "edit-image-resize-001",
      "name": "Edit Image (Resize)",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        448,
        13536
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert user image binary to base64 data URI\nconst binaryData = $input.first().binary.data;\nconst base64String = binaryData.data;\nconst mimeType = binaryData.mimeType || 'image/jpeg';\n\n// Pass through all previous JSON data plus the base64 string\nconst previousJson = $input.first().json;\n\nreturn [{\n  json: {\n    ...previousJson,\n    userImageBase64: `data:${mimeType};base64,${base64String}`\n  }\n}];"
      },
      "id": "convert-user-base64-001",
      "name": "Convert User Image to Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        13536
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1i52bCJhPJKACKsXDSzMit5rnehpXXkKi",
            "mode": "list",
            "cachedResultName": "Picasso Images",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1i52bCJhPJKACKsXDSzMit5rnehpXXkKi"
          }
        },
        "options": {}
      },
      "id": "5432db7a-f385-42d5-b964-b8f7789623ef",
      "name": "Get Picasso Images",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        13920
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RMKkKfrjtxNPf5LV",
          "name": "Picture with Picasso"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst files = items.map(item => item.json);\n\n// Get or initialize the cycling index from workflow static data\nconst workflowStaticData = this.getWorkflowStaticData('global');\nlet currentIndex = workflowStaticData.picassoImageIndex || 0;\n\n// Select the current file\nconst selectedFile = files[currentIndex];\n\n// Increment and wrap around the index\ncurrentIndex = (currentIndex + 1) % files.length;\nworkflowStaticData.picassoImageIndex = currentIndex;\n\nreturn [{ json: selectedFile }];"
      },
      "id": "659e47ed-5117-4739-9f04-670f06662526",
      "name": "Select Random Picasso Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        13920
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "e7342128-f08d-4ec3-a35f-a85e248e1320",
      "name": "Download Picasso Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        13920
      ],
      "credentials": {
        "googleApi": {
          "id": "5oBdM5b71SEnExoL",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert Picasso image binary to base64 data URI\nconst binaryData = $input.first().binary.data;\nconst base64String = binaryData.data;\nconst mimeType = binaryData.mimeType || 'image/jpeg';\n\nreturn [{\n  json: {\n    picassoImageBase64: `data:${mimeType};base64,${base64String}`\n  }\n}];"
      },
      "id": "convert-picasso-base64-001",
      "name": "Convert Picasso Image to Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        13920
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-images-reve-001",
      "name": "Merge Images for Reve",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1344,
        13728
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/reve/remix",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $('Workflow Configuration').first().json.falApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"[USER ENTERS PROMPT HERE - Use <img>0</img> for user image and <img>1</img> for Picasso image]\",\n  \"image_urls\": [\n    \"{{ $json.userImageBase64 }}\",\n    \"{{ $json.picassoImageBase64 }}\"\n  ],\n  \"aspect_ratio\": \"16:9\",\n  \"num_images\": 1,\n  \"output_format\": \"png\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "send-reve-remix-001",
      "name": "Send to Reve Remix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        13728
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fu7JiV0X0vwfVlOO",
          "name": "Header Auth account 9"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.reeveApiEndpoint }}/{{ $('Send to Reve Remix').first().json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "94c626c8-c774-4a6c-92cb-00ff35af7bbd",
      "name": "Check Reve Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        13728
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fu7JiV0X0vwfVlOO",
          "name": "Header Auth account 9"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0fddce9-ee05-409d-9377-a96a6086770b",
      "name": "Check Reve Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        13616
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "45b87afc-19c5-4572-8ddb-e9c1ccc69958",
      "name": "Wait for Reve",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        13760
      ],
      "webhookId": "a4049f0c-150f-4c66-a0fb-59590ce594df"
    },
    {
      "parameters": {
        "url": "={{ $json.output.images[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "composedImage"
            }
          }
        }
      },
      "id": "c4eb8e7c-21fe-4278-a576-81428a886313",
      "name": "Download Composed Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2240,
        13536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/{{ $('Workflow Configuration').first().json.cloudinaryCloudName }}/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "composedImage"
            },
            {
              "name": "upload_preset",
              "value": "ml_default"
            },
            {
              "name": "api_key",
              "value": "={{ $('Workflow Configuration').first().json.cloudinaryApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0763a449-8fcd-4353-97b5-8ead1aa4cda5",
      "name": "Upload Composed Image to Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2464,
        13536
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "Video Prompt",
              "value": "Animate this composed image showing people interacting with Picasso in a friendly, playful manner. Keep the artistic style consistent throughout the animation.",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "First Frame",
              "value": "={{ $json.secure_url }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "Duration",
              "value": "={{ $json.duration || '5' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "Resolution",
              "value": "={{ $json.resolution || '720p' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "Optimize Prompt",
              "value": "={{ $json.optimizePrompt || true }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "dfaf6248-5788-4805-ae8a-ef24e80aa18b",
      "name": "Prepare Video Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        13536
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.inputSource }}",
              "rightValue": "telegram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "56c35697-ae73-4506-b5e7-23e1f101fb36",
      "name": "Route Output",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3808,
        13248
      ]
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $json.chatId }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "6fbdf248-36fb-47c9-8bf0-f9f792a9019f",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4032,
        13152
      ],
      "webhookId": "4084996d-faab-4479-a74d-2ca378e83491",
      "credentials": {
        "telegramApi": {
          "id": "QiO6YgFr5YiIILyk",
          "name": "SparkyOCRbot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "={{ $json.userEmail }}",
        "subject": "Your Picasso Video is Ready!",
        "message": "<p>Your custom Picasso video has been generated!</p><p>Please find the video attached.</p>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "8c517caa-f4c3-41c6-b3fa-c029fa207c8a",
      "name": "Send to Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4032,
        13344
      ],
      "webhookId": "71c6b021-9bac-42d7-9e4d-f664a5c45f24",
      "credentials": {
        "googleApi": {
          "id": "5oBdM5b71SEnExoL",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "form_submissions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.userEmail }}",
            "uploadedImage": "={{ $json.uploadedImageUrl }}",
            "timestamp": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "98cfc919-2c6f-4ee5-9431-045755d8a00e",
      "name": "Store Form Responses",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        0,
        13920
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "name": "=Picasso_Video_{{ $now.toFormat('yyyy-MM-dd_HH-mm-ss') }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.videoArchiveFolderId }}"
        },
        "options": {}
      },
      "id": "a3143fa5-9e87-4b28-aebe-a17bb0b8a9e7",
      "name": "Archive Video to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3584,
        13184
      ],
      "credentials": {
        "googleApi": {
          "id": "5oBdM5b71SEnExoL",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "inputDataFieldName": "composedImage",
        "name": "=Composed_Image_{{ $now.toFormat('yyyy-MM-dd_HH-mm-ss') }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.composedImagesFolderId }}"
        },
        "options": {}
      },
      "id": "aaf19e5e-3ecd-4235-a109-ebbf2b8dd03d",
      "name": "Archive Composed Image to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2464,
        13760
      ],
      "credentials": {
        "googleApi": {
          "id": "5oBdM5b71SEnExoL",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "name": "=User_Upload_{{ $now.toFormat('yyyy-MM-dd_HH-mm-ss') }}.jpg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.userUploadedImagesFolderId }}"
        },
        "options": {}
      },
      "id": "archive-user-image-001",
      "name": "Archive User Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        13184
      ],
      "credentials": {
        "googleApi": {
          "id": "5oBdM5b71SEnExoL",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 📱 Telegram Setup\n\n**Required Credentials:**\n- Telegram Bot Token\n\n**Nodes Using This:**\n- Telegram Trigger\n- Send to Telegram\n\n**Setup Steps:**\n1. Create bot via @BotFather\n2. Get bot token\n3. Add Telegram API credentials in n8n",
        "height": 280,
        "width": 350,
        "color": 4
      },
      "id": "86ef5f90-bcfd-4eae-9335-120bc5aac27d",
      "name": "Telegram Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2320,
        13504
      ]
    },
    {
      "parameters": {
        "content": "# 📁 Google Drive Setup\n\n**Required Credentials:**\n- Google Service Account\n\n**Required Configuration:**\n- Picasso images folder ID\n- Video archive folder ID\n- User uploaded images folder ID\n\n**Nodes Using This:**\n- Get Picasso Images\n- Download Picasso Image\n- Archive Video to Google Drive\n- Archive User Image\n\n**Setup Steps:**\n1. Create Google Service Account\n2. Create folders:\n   - Picasso Images (source images)\n   - Video Archive (generated videos)\n   - User Uploads (archived user images)\n3. Share all folders with service account email\n4. Copy folder IDs to Workflow Configuration",
        "height": 380,
        "width": 400,
        "color": 5
      },
      "id": "7e1d3b74-87df-4f26-a97e-d7f2b8fc743d",
      "name": "Google Drive Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1312,
        13504
      ]
    },
    {
      "parameters": {
        "content": "# 🎬 Kie.ai API Setup\n\n**Required Credentials:**\n- Kie.ai API Key (Header Auth)\n\n**Nodes Using This:**\n- Create Video Request\n- Get Videos\n\n**Setup Steps:**\n1. Sign up at kie.ai\n2. Get API key from dashboard\n3. Add as Header Auth credential\n4. Header name: Authorization\n5. Header value: Bearer YOUR_API_KEY\n\n**Cost:** ~$0.05-0.10 per second of video",
        "height": 360,
        "width": 380,
        "color": 6
      },
      "id": "d1d6d554-0a93-4f5d-8f25-36ce51f5c58f",
      "name": "Kie.ai API Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1424,
        14416
      ]
    },
    {
      "parameters": {
        "content": "# 📧 Gmail Setup\n\n**Required Credentials:**\n- Google Service Account\n\n**Nodes Using This:**\n- Send to Email\n\n**Setup Steps:**\n1. Use same Google Service Account as Drive\n2. Enable Gmail API in Google Cloud Console\n3. Grant domain-wide delegation if needed",
        "height": 300,
        "width": 360,
        "color": 7
      },
      "id": "cfd14c5e-f14f-4311-bb03-c0c01ee4b044",
      "name": "Gmail Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1856,
        13488
      ]
    },
    {
      "parameters": {
        "content": "# 🎨 Picasso Video Generator v2.1\n\n## Workflow Overview\nThis workflow creates AI-generated videos that blend user-uploaded images with Picasso artworks.\n\n**Two Input Methods:**\n1. **Web Form** - Users upload image + email\n2. **Telegram Bot** - Users send message to bot\n\n**v2.1 Key Fix:**\n- Route BEFORE download (not after)\n- Set Telegram Source / Set Form Source nodes tag input immediately\n- inputSource is now explicit, not inferred\n- Fixes: \"URL parameter must be a string\" error\n\n**Process:**\n1. User submits image via Form or Telegram\n2. Source tagged immediately (telegram/form)\n3. Routed to correct download path\n4. Image resized to max 2048px\n5. Converted to base64 for Reve Remix\n6. Merged with Picasso image (also base64)\n7. Composed via Reve Remix API\n8. Video generated via Kie.ai\n9. Result sent via Telegram or Email",
        "height": 560,
        "width": 500,
        "color": 3
      },
      "id": "5bcca4bd-1bd7-4bfe-b278-361b2dfacd94",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2896,
        14016
      ]
    },
    {
      "parameters": {
        "content": "# 🎨 Reve Remix Setup (fal.ai)\n\n**API Endpoint:**\nhttps://fal.run/fal-ai/reve/remix\n\n**Required:**\n- fal.ai API Key\n- Add to Workflow Configuration as falApiKey\n\n**Request Format:**\n```json\n{\n  \"prompt\": \"YOUR PROMPT HERE\",\n  \"image_urls\": [\n    \"data:image/...;base64,...\",\n    \"data:image/...;base64,...\"\n  ],\n  \"aspect_ratio\": \"16:9\",\n  \"num_images\": 1,\n  \"output_format\": \"png\"\n}\n```\n\n**Image References in Prompt:**\n- <img>0</img> = User image (first in array)\n- <img>1</img> = Picasso image (second in array)\n\n**Limits:**\n- Max 10MB per image\n- Max 2048px recommended\n- 1-6 images supported",
        "height": 480,
        "width": 400,
        "color": 2
      },
      "id": "8561e483-9a05-4776-b34c-0f0198d983c9",
      "name": "Reve Remix Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        14496
      ]
    },
    {
      "parameters": {
        "content": "# 🔄 v2.1 Architecture Fix\n\n**Problem in v2:**\nRouting checked `$json.message` AFTER download.\nDownload node loses original trigger JSON.\nResult: Telegram routes to Form path → error.\n\n**v2.1 Solution:**\n1. **Set Telegram Source** - immediately after trigger\n2. **Set Form Source** - immediately after trigger\n3. **Route** - checks explicit `inputSource`\n4. **Download** - happens AFTER routing\n\n**Flow:**\n```\nTelegram → Set Source → Config → Route → Download → Edit → Base64\nForm     → Set Source → Config → Route → Download → Edit → Base64\n                                              ↓\n                                          Merge → Reve\n```\n\n**Key Fields Set:**\n- `inputSource`: 'telegram' or 'form'\n- `telegramFileId`: for telegram path\n- `uploadedImageUrl`: for form path\n- `chatId`: for telegram response\n- `userEmail`: for form response",
        "height": 520,
        "width": 420,
        "color": 1
      },
      "id": "v2-architecture-notes",
      "name": "v2.1 Architecture Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        14496
      ]
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 995540788,
          "message": {
            "message_id": 12,
            "from": {
              "id": 6798493076,
              "is_bot": false,
              "first_name": "Benito",
              "last_name": "Esquenazi",
              "username": "Benito_Esquenazi",
              "language_code": "en"
            },
            "chat": {
              "id": 6798493076,
              "first_name": "Benito",
              "last_name": "Esquenazi",
              "username": "Benito_Esquenazi",
              "type": "private"
            },
            "date": 1764521457,
            "photo": [
              {
                "file_id": "AgACAgEAAxkBAAMMaSx18fwmy_8Ho2OB_ikusGaI7zIAAjwLaxtfjWBF4UtWGg3QEREBAAMCAANzAAM2BA",
                "file_unique_id": "AQADPAtrG1-NYEV4",
                "file_size": 1270,
                "width": 42,
                "height": 90
              },
              {
                "file_id": "AgACAgEAAxkBAAMMaSx18fwmy_8Ho2OB_ikusGaI7zIAAjwLaxtfjWBF4UtWGg3QEREBAAMCAANtAAM2BA",
                "file_unique_id": "AQADPAtrG1-NYEVy",
                "file_size": 18628,
                "width": 148,
                "height": 320
              },
              {
                "file_id": "AgACAgEAAxkBAAMMaSx18fwmy_8Ho2OB_ikusGaI7zIAAjwLaxtfjWBF4UtWGg3QEREBAAMCAAN4AAM2BA",
                "file_unique_id": "AQADPAtrG1-NYEV9",
                "file_size": 77107,
                "width": 369,
                "height": 800
              },
              {
                "file_id": "AgACAgEAAxkBAAMMaSx18fwmy_8Ho2OB_ikusGaI7zIAAjwLaxtfjWBF4UtWGg3QEREBAAMCAAN5AAM2BA",
                "file_unique_id": "AQADPAtrG1-NYEV-",
                "file_size": 94914,
                "width": 591,
                "height": 1280
              }
            ]
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Set Telegram Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Set Form Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Telegram Source": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Form Source": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Route by Input Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Picasso Images",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Form Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Input Source": {
      "main": [
        [
          {
            "node": "Download Telegram Photo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Archive User Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Form Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Telegram Photo": {
      "main": [
        [
          {
            "node": "Edit Image (Resize)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Form Image": {
      "main": [
        [
          {
            "node": "Edit Image (Resize)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Archive User Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image (Resize)": {
      "main": [
        [
          {
            "node": "Convert User Image to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert User Image to Base64": {
      "main": [
        [
          {
            "node": "Merge Images for Reve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Picasso Images": {
      "main": [
        [
          {
            "node": "Select Random Picasso Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Random Picasso Image": {
      "main": [
        [
          {
            "node": "Download Picasso Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Picasso Image": {
      "main": [
        [
          {
            "node": "Convert Picasso Image to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Picasso Image to Base64": {
      "main": [
        [
          {
            "node": "Merge Images for Reve",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Images for Reve": {
      "main": [
        [
          {
            "node": "Send to Reve Remix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Reve Remix": {
      "main": [
        [
          {
            "node": "Check Reve Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reve Status": {
      "main": [
        [
          {
            "node": "Check Reve Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reve Complete": {
      "main": [
        [
          {
            "node": "Download Composed Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Reve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Reve": {
      "main": [
        [
          {
            "node": "Check Reve Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Composed Image": {
      "main": [
        [
          {
            "node": "Upload Composed Image to Cloudinary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Archive Composed Image to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Composed Image to Cloudinary": {
      "main": [
        [
          {
            "node": "Prepare Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video Prompt": {
      "main": [
        [
          {
            "node": "Create Video Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video Request": {
      "main": [
        [
          {
            "node": "Get Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Videos": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Route Output",
            "type": "main",
            "index": 0
          },
          {
            "node": "Archive Video to Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Video to Google Drive": {
      "main": [
        [
          {
            "node": "Route Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Output": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v2.1-route-before-download",
  "meta": {
    "instanceId": "2a90db11012d1888dfe42fe3dfc7ff62834bedff55ddddb3b8f53799ed49c546"
  },
  "id": "cRLaNtHXkdaIkvis",
  "tags": []
}
